git+https://github.com/KurimuzonAkuma/pyrogram
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
bs4
git+https://github.com/Joelkb/cinemagoer
search_engine_parser
wget
aiofiles
ffmpeg-python
ffmpeg
youtube-search-python==1.4.6
yt-dlp
youtube-dl
youtube_search
requests
gTTS
googletrans==3.1.0a0
telegraph
PyPDF2
ujson
pyshorteners
countryinfo
datetime
pytz
python-math
Pillow
speedtest-cli
python-dotenv
Flask
gunicorn
aiohttp
ytthumb
YoutubeTags
dnspython

